<footer>
  <div class="footer">
    <div class="row">
      <a href="#" target="_blank"><i class="fa fa-whatsapp"></i></a>
      <!--        <a href="#"><i class="fa fa-instagram"></i></a>-->
      <a href="mailto:tuemail@example.com?subject=Consulta sobre Cambialo&body=Hola, quisiera más información sobre..." target="_blank"><i class="fa fa-envelope "></i></a>
      <!--        <a href="#"><i class="fa fa-twitter"></i></a>-->

    </div>

    <div class="row">
      <ul>
        <li><a href="/home/terms">Términos y Condiciones</a></li>
        <li><a href="/home/about-us">Sobre Nosotros</a></li>
        <li><a href="/home/faq">Preguntas Frecuentes</a></li>
        <li><a href="#" target="_blank">Contáctanos</a></li>

      </ul>
    </div>


    <div class="row">
      Cambialo © 2024  - Todos los derechos reservados
    </div>
  </div>
</footer>
