<div class="flex flex-col min-h-screen">
  <div class="flex-grow">
<div class="container mx-auto px-6 py-10">
  <h2 class="text-3xl font-semibold mb-3 text-center">Nuestra Historia</h2>
  <p class="text-gray-600 text-justify">
    Fundada en 2022 por un grupo de profesionales con amplia experiencia en el sector bancario, Cambialo tiene la misión de revolucionar el mercado de cambio de divisas ofreciendo operaciones rápidas, seguras y transparentes. Conocedores de las dificultades que enfrentan muchos al manejar divisas en un contexto global, nuestro equipo se propuso simplificar estas transacciones para facilitar el acceso a servicios financieros confiables y accesibles. Nuestro viaje comenzó con un pequeño pero dedicado equipo que creía firmemente en el potencial de impactar positivamente la vida financiera de las personas. Con miras a expandirnos, seguimos comprometidos con nuestra visión inicial de facilitar el cambio de divisas a través de la innovación y la tecnología.
  </p>

  <!-- Timeline -->
  <div class="timeline-container mx-auto mt-10">
    <div class="relative border-l-2 border-blue-500">
      <!-- Timeline item -->
      <div class="mb-10 ml-4">
        <div class="absolute w-6 h-6 bg-blue-500 rounded-full mt-1.5 -left-3"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400">2022</time>
        <h3 class="text-lg font-semibold text-gray-900">Fundación de Cambialo</h3>
        <p class="mb-4 text-base font-normal text-gray-500">Inicio de operaciones con el objetivo de facilitar el cambio de divisas de manera segura y eficiente.</p>
      </div>
      <!-- Timeline item -->
      <div class="mb-10 ml-4">
        <div class="absolute w-6 h-6 bg-blue-500 rounded-full mt-1.5 -left-3"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400">2023</time>
        <h3 class="text-lg font-semibold text-gray-900">Expansión del equipo</h3>
        <p class="text-base font-normal text-gray-500">Incorporación de expertos en tecnología financiera para desarrollar soluciones innovadoras.</p>
      </div>
      <!-- Timeline item -->
      <div class="ml-4">
        <div class="absolute w-6 h-6 bg-blue-500 rounded-full mt-1.5 -left-3"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400">2024 (Planificado)</time>
        <h3 class="text-lg font-semibold text-gray-900">Lanzamiento de nuevas funciones</h3>
        <p class="text-base font-normal text-gray-500">Planificamos lanzar una aplicación móvil que revolucionará la forma en que nuestros clientes interactúan con los mercados de divisas.</p>
      </div>
    </div>
  </div>

</div>
  </div>
<app-footer-home></app-footer-home>
<a href="https://wa.me/908558388" target="_blank" class="whatsapp-icon fixed bottom-5 right-5 z-50 hover:shadow-lg transition-shadow">
  <i class="fab fa-whatsapp fa-3x" style="color: #39af39;"></i>
</a>
</div>
