<div class="max-w-4xl mx-auto py-10">
  <div class="bg-white shadow rounded-lg p-6">
    <h2 class="text-2xl font-bold mb-5">Perfil del Usuario</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      
      <!-- Nombre -->
      <div>
        <label for="first-name" class="block text-sm font-medium text-gray-700">Nombre</label>
        <div *ngIf="!userLoaded; else loadedFirstName">
          <div class="mt-1 p-2 block w-full border-gray-300 rounded-md shadow-sm bg-gray-200 animate-pulse h-10"></div>
        </div>
        <ng-template #loadedFirstName>
          <input type="text" id="first-name" name="first-name" [(ngModel)]="user.nombre" class="mt-1 p-2 block w-full border-gray-300 rounded-md shadow-sm" />
        </ng-template>
      </div>

      <!-- Apellidos -->
      <div>
        <label for="last-name" class="block text-sm font-medium text-gray-700">Apellidos</label>
        <div *ngIf="!userLoaded; else loadedLastName">
          <div class="mt-1 p-2 block w-full border-gray-300 rounded-md shadow-sm bg-gray-200 animate-pulse h-10"></div>
        </div>
        <ng-template #loadedLastName>
          <input type="text" id="last-name" name="last-name" [(ngModel)]="user.apellido" class="mt-1 p-2 block w-full border-gray-300 rounded-md shadow-sm" />
        </ng-template>
      </div>

      <!-- DNI -->
      <div>
        <label for="dni" class="block text-sm font-medium text-gray-700">DNI</label>
        <div *ngIf="!userLoaded; else loadedDni">
          <div class="mt-1 p-2 block w-full border-gray-300 rounded-md shadow-sm bg-gray-200 animate-pulse h-10"></div>
        </div>
        <ng-template #loadedDni>
          <input type="text" id="dni" name="dni" [(ngModel)]="user.dni" class="mt-1 p-2 block w-full border-gray-300 rounded-md shadow-sm" />
        </ng-template>
      </div>

      <!-- Correo Electrónico -->
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
        <div *ngIf="!userLoaded; else loadedEmail">
          <div class="mt-1 p-2 block w-full border-gray-300 rounded-md shadow-sm bg-gray-200 animate-pulse h-10"></div>
        </div>
        <ng-template #loadedEmail>
          <input type="email" id="email" name="email" [(ngModel)]="user.email" class="mt-1 p-2 block w-full border-gray-300 rounded-md shadow-sm" />
        </ng-template>
      </div>
    </div>

    <!-- Botón de Guardar Cambios -->
    <div class="mt-6 flex justify-end">
      <button (click)="saveChanges()" [disabled]="!userLoaded" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700"><i class="fas fa-save mr-2"></i>Guardar Cambios</button>
    </div>
  </div>
</div>
