<div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg">
    <h1 class="text-3xl font-bold mb-6 text-gray-800">Política de Privacidad de Cambialo</h1>
    
    <p class="mb-4 text-gray-600">
      Bienvenido a Cambialo, una casa de cambios online para el intercambio de soles a dólares y viceversa. Esta Política de Privacidad describe cómo recopilamos, usamos y protegemos la información personal de nuestros usuarios.
    </p>
  
    <h2 class="text-2xl font-semibold mb-4 text-gray-800">1. Información que Recopilamos</h2>
    <p class="mb-4 text-gray-600">
      Recopilamos la siguiente información personal de nuestros usuarios:
      <ul class="list-disc list-inside">
        <li>Nombre</li>
        <li>Apellido</li>
        <li>Correo electrónico (opcional)</li>
        <li>DNI/RUC</li>
      </ul>
  
    <h2 class="text-2xl font-semibold mb-4 text-gray-800">2. Uso de la Información</h2>
    <p class="mb-4 text-gray-600">
      La información recopilada se utiliza para:
      <ul class="list-disc list-inside">
        <li>Mejorar el servicio.</li>
        <li>Personalizar la experiencia del usuario.</li>
        <li>Fines informativos, como notificar al usuario cuando su operación haya concluido.</li>
      </ul>
  
    <h2 class="text-2xl font-semibold mb-4 text-gray-800">3. Compartición de Datos</h2>
    <p class="mb-4 text-gray-600">
      No compartimos la información personal de los usuarios con terceros. Utilizamos Firebase para la autenticación (Google y iOS) exclusivamente como método de identificación.
    </p>
  
    <h2 class="text-2xl font-semibold mb-4 text-gray-800">4. Seguridad de los Datos</h2>
    <p class="mb-4 text-gray-600">
      Utilizamos medidas de seguridad robustas para proteger la información personal de nuestros usuarios. La autenticación en nuestra app se realiza mediante OAuth2 utilizando Firebase, lo que asegura que solo usuarios autorizados puedan acceder a sus datos. Una vez que el usuario se autentica, desencriptamos el token de inicio de sesión en nuestro backend para acceder a la información necesaria. Este proceso asegura que los datos se mantengan seguros durante la transmisión y almacenamiento.
    </p>
  
    <h2 class="text-2xl font-semibold mb-4 text-gray-800">5. Derechos del Usuario</h2>
    <p class="mb-4 text-gray-600">
    Los usuarios tienen derecho a rectificar sus datos en cualquier momento dentro de la aplicación. Si desean eliminar su cuenta, pueden hacerlo enviando un correo a <a href="mailto:carlos.amorin&#64;cambialo.com.pe" class="text-blue-600 underline">carlos.amorin&#64;cambialo.com.pe</a> con el asunto [ELIMINACION DE CUENTA], e incluir en el correo su nombre, apellido, DNI/RUC , correo electrónico asociado a la cuenta y la fecha de su última operación concretada (si aplica).
    </p>
  
    <h2 class="text-2xl font-semibold mb-4 text-gray-800">6. Contacto</h2>
    <p class="mb-4 text-gray-600">
    Si tienes alguna duda o inquietud sobre esta Política de Privacidad, puedes contactarnos enviando un correo a <a href="mailto:carlos.amorin&#64;cambialo.com.pe" class="text-blue-600 underline">carlos.amorin&#64;cambialo.com.pe</a> con el asunto [DUDAS POLITICA DE PRIVACIDAD].
    </p>
  
    <h2 class="text-2xl font-semibold mb-4 text-gray-800">7. Actualizaciones de la Política</h2>
    <p class="mb-4 text-gray-600">
      Cualquier actualización o cambio en esta Política de Privacidad será publicado en esta misma página. Recomendamos a los usuarios revisarla periódicamente para estar al tanto de cualquier modificación.
    </p>
  
    <p class="mt-6 text-gray-600">
      Para más información, consulta nuestros <a href="https://www.cambialo.com.pe/home/terms" class="text-blue-600 underline">Términos y Condiciones</a>.
    </p>
  </div>
  