.disabled-input {
  background-color: #f3f4f6; /* Color de fondo gris claro */
  color: #9ca3af; /* Color de texto gris */
  cursor: not-allowed; /* Cambiar el cursor a no permitido */
}

.disabled-select {
  background-color: #f3f4f6;
  color: #9ca3af;
  cursor: not-allowed;
}
