<div class="container mx-auto px-4">
  <header class="text-center my-12">
    <h1 class="text-3xl font-bold">Términos y Condiciones</h1>
    <p class="mt-3 text-gray-600">Última actualización: 08 de mayo de 2024</p>
  </header>

  <div class="bg-white shadow-md rounded-lg p-8 mb-6 text-gray-700">
    <h2 class="text-xl font-semibold mb-4">1. Introducción</h2>
    <p>Al utilizar el sitio web "Cambialo", usted acepta estos términos y condiciones. Estos aplican a todos los visitantes y usuarios del sitio web y de la plataforma asociada.</p>

    <h2 class="text-xl font-semibold mt-6 mb-4">2. Servicios Ofrecidos</h2>
    <p>"Cambialo" ofrece servicios de cambio de divisas en línea. Nos reservamos el derecho de cambiar o discontinuar cualquier servicio o característica en cualquier momento.</p>

    <h2 class="text-xl font-semibold mt-6 mb-4">3. Registro de Usuario</h2>
    <p>Para acceder a ciertos servicios, es necesario que cree una cuenta con información verídica y actualizada. Es responsable de mantener la confidencialidad de su cuenta y contraseña.</p>

    <h2 class="text-xl font-semibold mt-6 mb-4">4. Procesos de Transacción</h2>
    <p>Las transacciones se procesan en tiempo real basadas en las tasas vigentes. "Cambialo" no es responsable por fluctuaciones de las tasas de cambio ocurridas durante la transacción.</p>

    <h2 class="text-xl font-semibold mt-6 mb-4">5. Política de Cancelación y Reembolso</h2>
    <p>Las transacciones completadas no pueden ser canceladas ni revertidas. Los reembolsos se considerarán solo bajo circunstancias excepcionales y a discreción de "Cambialo".</p>

    <h2 class="text-xl font-semibold mt-6 mb-4">6. Derechos de Propiedad Intelectual</h2>
    <p>El contenido del sitio web, incluidos textos, gráficos y logos, es propiedad de "Cambialo" y está protegido por leyes de propiedad intelectual.</p>

    <h2 class="text-xl font-semibold mt-6 mb-4">7. Prohibiciones</h2>
    <p>Está prohibido el uso de la plataforma para actividades ilegales, fraudulentas o manipulativas. Cualquier actividad de este tipo resultará en la terminación inmediata de su cuenta.</p>

    <h2 class="text-xl font-semibold mt-6 mb-4">8. Privacidad y Seguridad de Datos</h2>
    <p>La protección de su privacidad y la seguridad de sus datos son prioritarias para nosotros. Consulte nuestra Política de Privacidad para entender cómo recopilamos y manejamos su información.</p>

    <h2 class="text-xl font-semibold mt-6 mb-4">9. Limitación de Responsabilidad</h2>
    <p>"Cambialo" no será responsable por pérdidas directas, indirectas, incidentales, especiales o consecuentes que resulten del uso o la incapacidad de usar nuestros servicios.</p>

    <h2 class="text-xl font-semibold mt-6 mb-4">10. Indemnización</h2>
    <p>Usted acuerda indemnizar y exonerar a "Cambialo" de cualquier reclamo, costes, daños y gastos causados por su uso indebido del sitio o servicios.</p>

    <h2 class="text-xl font-semibold mt-6 mb-4">11. Cambios a los Términos y Condiciones</h2>
    <p>Podemos modificar estos términos en cualquier momento, y tales modificaciones entrarán en vigor inmediatamente después de su publicación en el sitio web.</p>
  </div>


</div>
<app-footer-home></app-footer-home>
